.header {
  background-color: rgb(255, 235, 191);
  text-align: center;
  padding: 30px;
  border-bottom: 5px solid rgb(0, 255, 21);
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: slategrey;
}

.yearInput{
  height: 38px;
  width: 170px;
}
